.card-trip {
  text-align: center;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px 8px;
  min-width: 210px;
}

.row {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.row > * {
  padding-left: 0;
  padding-right: 0;

}

.card-trip > img {
  width: 100%;
  min-height: 160px;
}

.card-trip h2 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  text-align: center;
  margin: auto auto;
  font-size: 12px;
  opacity: .7;
  margin: 0;
  word-wrap: break-word;
}


.card-trip .card-trip-infos {
  padding: 8px;
}

.my-card {
  border-radius: 30px;
  padding: 7px 8px;
  box-shadow: 3px 2px 2px grey;
  border: 1px solid black;
  max-width: 400px;

  input {
    border-radius: 15px;
  }
}

.distancia-top {
  margin-top: 100px;
}
